/*
	Général
*/
body {
	font-family: Poppins, sans-serif;
	background-color: rgba(255, 0, 122, 0.1);
}

.error {
	border: 1px solid #f00;
}
.alert {
	font-size: 10px;
}
.connexion {
	font-size: 20px;
}
.react {
	color: #ff007a;
}
/*
	Header
*/
.bg-white {
	background-color: #fff;
}

.flex-header {
	padding-top: 15px;
	display: flex;
	justify-content: space-around;
}
#header .status-menu {
	margin-top: 20px;
	padding: 10px;
	color: #ff007a;
}

#header .logo p{
	padding-left: 40px;
	position: relative;
	top: -15px;
	font-style: italic;
	color: #808080;
}


#status-btn{
	color: rgba(255, 0, 122, 0.7);
}

.status {
	padding: 10px;
	color: #0f0;
}

#status-btn:hover {
	color: #ff007a;
}

@media (max-width: 768px) {
	.flex-header {
		padding-top: 15px;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}
}

/* Menu toggle */
.menu-toggle {
	color: #ff007a;
	z-index: 9998;
}

.menu-toggle:focus {
	color: #fff;
	background: #ff007a;
}

.nav-menu {
	position: fixed;
	width: 15%;
	right: 150px;
	top: 10%;
    text-align: center;
	background-color: #ff007a;
	padding: 50px;
	z-index: 9998;
    overflow-y: auto;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    color: #000;
}

@media (max-width: 768px) {
	.nav-menu {
		width: 50%;
		left: 50px;
		right: 100%;
		top: 22%;
	}
}

.nav-overly  {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
}

.nav-active {
  overflow: hidden;
}

.nav-active .nav-menu {
  opacity: 1;
  visibility: visible;
}

.nav-menu .flex-menu {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.nav-menu .flex-menu a {
	text-decoration: none;
	color: #fff;
}
.nav-menu .flex-menu a:hover {
	color: rgba(255, 255, 255, 0.7);
}


/*
	Banner
*/
#banner {
	background: url('../img/banner.jpg') center center;
	background-attachment: fixed;
	height: 40vh;
	background-size: cover;
	position: relative;
	padding-top: 50px;
	text-align: center;
	color: #fff;
	font-size: 35px;
	text-shadow: 5px 10px 10px #000;
}

@media (max-width: 768px){
	#banner {
		height: 55vh;
	}
}

#banner button {
	background: rgba(255, 0, 122, 0.3);
	color: #fff;
	font-size: 25px;
}

#banner button:hover {
	transition: 1s;
	color: #fff;
	background: #ff007a;
}
#banner button a {
	text-decoration: none;
	color:#fff;
}

/*
	Back to top button
*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  right: 15px;
  bottom: 15px;
  background: rgba(255, 0, 122, 0.6);
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #ff007a;
  transition: background 0.2s ease-in-out;
}
/*
	Main
*/
#main {
	position: relative;
	top: 70px;
}

.about-block {
	position: relative;
	top: -130px;
	display: flex;
	justify-content: space-around;
	background-color: rgba(255, 255, 255, 0.1); 
}

.about-block .texte {
	flex: 1;
	width: 80%;
	margin: auto;
	color: #808080;
	padding-left: 10px;
}

.about-block .slider {
	flex: 1;
}
.about-block button {
	background: rgba(255, 0, 122, 0.3);
	color: #fff;
	font-size: 15px;
}
.about-block button:hover {
	transition: 0.3s;
	color: #fff;
	background: #ff007a;
}


#gallerie h2, #gallerie p, #contact h2, #contact p, #connect h2, #connect p{
	text-align: center;
	color: #808080;
}

.categorie {
	margin: 10px;
	padding: 5px;
	border-left:  4px solid #ff007a;
	background-color: rgba(255, 0, 122, 0.7);
	height: 5vh;
	color: #fff;
}
.categorie a {
	color: rgba(255, 255, 255, 0.4);
	font-style: italic;
	text-decoration: underline;
	float: right;
}
.categorie a:hover {
	color: #fff;
}

.articles-categorie {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	justify-content: space-around;
}

.article {
	margin-right: 20px;
	margin-top: 20px; 
}

.articles-categorie img{
	width: 250px;
	height: 250px;
}

@media (max-width: 768px){
	.articles-categorie img {
		width: 300px;
		height: 300px;
	}
	.categorie {
		height: 10vh;
	}
}

.preview, .next{
	background-color: #ff007a;
	padding: 10px;
	font-size: 20px;
}

.articles-categorie img:hover {
	background: rgba(0, 0, 0, 0.5);
}

.article:hover, .article:hover {
	transition: 0.4s;
	display: block;
	box-shadow: 0px 0px 15px 0px #000;
}


i {
	font-size: 20px;
}

.article-text {
	display: flex;
	justify-content: space-around;
	padding: 10px;
	border-top: 0.5px solid rgba(0,0,0, 0.5);
}

.flex-items {
	display: flex;
	flex-direction: row;
}


/*
	Forms login and sigin
*/
#connect {
	margin: 40px;
}

.sign {
	margin: 20px;
	display: flex;
	justify-content: space-around;
}


.signin, .login, .toggled-login {
	flex: 1;
	text-align: center;
	width: 40%;
	margin: auto;
	height: 70vh;
}


#signin-form, #login-form, #catlogin-form {
	margin: 10px;
	padding: 10px;
	color: #fff;
	width: 50%;
	color: #ff007a;
	text-align: center;
	position: relative;
	left: 25%;
	top: 25%;
}


#signin-form input, #login-form input, #catlogin-form input {
	border-color: rgba(255, 0, 122, 0.3);
}

#signin-form button, #login-form button, #catlogin-form button {
	background-color: rgba(255, 0, 122, 0.6);
	color: #fff;
}
#signin-form button:hover, #login-form button:hover, #catlogin-form button {
	background-color: #ff007a;
}
@media (max-width: 768px) {
	.sign {
		flex-direction: column;
	}

	.signin, .login {
		width: 100%;
	}


	#signin-form, #login-form {
		top: 10px;
		width: 40%;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 2px;
		padding-right: 2px;
	}

}

/*
	Contact
*/

#contact {
	margin: 50px;
}

#contact .flex-contact-sections {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


.contact-items {
	display: flex;
	flex-direction: column;
	flex: 0.3; 
	justify-content: space-around;
	padding: 10px;
	border-radius: 5px;
}

@media (max-width: 768px){
	#contact .flex-contact-sections {
		flex-direction: column-reverse;
	}
	.contact-items span{
		margin: 15px;
		font-size: 10px;
	}

	#contact {
		margin: 0px;
		margin-top: 50px;
	}
}


.contact-items i{
	color: #fff;
	background-color: rgba(255, 0, 122, 0.6);
	padding: 10px;
}
.contact-items i:hover {
	background-color: rgba(255, 0, 122, 1);
}


.contact-form {
	flex: 0.6;
	padding: 20px;
	border-radius: 5px;
}

.contact-form input, #contact-form textarea {
	color: #ff007a;
}

.contact-form button {
	background-color: rgba(255, 0, 122, 0.6);
	color: #fff;
}
.contact-form button:hover {
	background-color: rgba(255, 0, 122, 1);
}

.contact-form .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact-form .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact-form .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact-form .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact-form .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}



/*
	Footer
*/
#footer {
	margin-top: 100px;
	background: rgba(0, 0, 0, 0.9);
	text-align: center;
	color: #fff;
}

#footer strong {
	color: #ff007a;
}

.owner {
	width: 100%;
    margin-bottom: 20px;
    padding: 10px;
	color: #fff;
}

.owner img {
	width: 20%;
	max-width: 60%;
	border-radius: 50%;
	margin: 0 0 30px 0;
}

.owner h4{
	font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
}

.owner span{
	font-style: italic;
    display: block;
    font-size: 13px;
    color: #ff007a;
}

.owner p{
	padding-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
}

.copyright {
	width: 100%;
	background: rgba(0,0,0,0.9);
	padding: 20px;
}
/*
	Details page
*/
/*   BreadCrumb */
#breadcrumb ol{
	background: rgba(255, 255, 255, 0.4);
}

#breadcrumb a {
	color: #ff007a;
	text-decoration: none;
}

/* List of products */

.products-container{
	padding: 10px;
}

#products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.product img {
	width: 300px;
	height: 300px;
}

.product:hover {
	box-shadow: 0px 4px 15px 0px rgba(255, 0, 122, 0.8);
}

.product {
	width: 300px;
	margin: 10px;
}

.product .article-text {
	border: 0.5px solid rgba(0,0,0,0.2);
}

.article-text a {
	text-decoration: none;
	color: #808080;
}

.categorie-menu select{
	border-radius: 15px;
	border: 0px;
	color: #ff007a;
	background: rgba(0, 0, 0, 0.9);
	padding: 5px;
}


/* show */
.details-show {
	margin-top: 20px;
	width: 100%;
	text-align: left;
	display: flex;
	justify-content: space-around;
	padding: 20px;
	color: #fff;
}

.details-show aside {
	flex: 0.7;
}

.details-show aside img {
	width: 90%;
}
.details-show article {
	flex: 0.3;
	padding: 10px;
}
.details-show article h2{
	color: #ff007a;
}

.details-show article p {
	text-align: justify;
}

@media (max-width: 768px) {
	.details-show {
		flex-direction: column;
	}
}
